@charset "UTF-8";
/* Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #4caf50;
    padding: 20px 0;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Location Input */
.location-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Weather Display */
.weather-display {
  text-align: center;
  background-color: var(--weather-color, #f3f3f3);
}

.weather-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}